# yaml-language-server: $schema=../vendor/symfony/dependency-injection/Loader/schema/services.schema.json

# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.
# See also https://symfony.com/doc/current/service_container/import.html

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices.html#use-parameters-for-application-configuration
parameters:
    app.media_directory: '%kernel.project_dir%/public/media'
    avatars_directory: '%kernel.project_dir%/public/media/avatars'
    covers_directory: '%kernel.project_dir%/public/media/covers'
    categories_directory: '%kernel.project_dir%/public/media/categories'
    site_directory: '%kernel.project_dir%/public/media/site'

services:
    # default configuration for services in *this* file
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.

    # makes classes in src/ available to be used as services
    # this creates a service per class whose id is the fully-qualified class name
    App\:
        resource: '../src/'

    # add more service definitions when explicit configuration is needed
    # please note that last definitions always *replace* previous ones
    
    # Bind project directory for services that need it
    App\MessageHandler\ProcessVideoEncodingMessageHandler:
        arguments:
            $projectDir: '%kernel.project_dir%'
    
    App\MessageHandler\UploadToStorageMessageHandler:
        arguments:
            $projectDir: '%kernel.project_dir%'
    
    App\Service\NotificationService:
        arguments:
            $fromEmail: '%env(MAILER_FROM)%'
    
    App\Command\GenerateVideoPreviewsCommand:
        arguments:
            $projectDir: '%kernel.project_dir%'
    
    App\MessageHandler\GeneratePreviewMessageHandler:
        arguments:
            $projectDir: '%kernel.project_dir%'
    
    App\Service\GeoIpService:
        arguments:
            $projectDir: '%kernel.project_dir%'

    App\Service\CategoryPosterService:
        arguments:
            $projectDir: '%kernel.project_dir%'
    
    App\Service\ImageService:
        arguments:
            $avatarsDirectory: '%avatars_directory%'
            $coversDirectory: '%covers_directory%'
            $categoriesDirectory: '%categories_directory%'
            $siteDirectory: '%site_directory%'
    
    # Placeholder Extension
    App\Twig\PlaceholderExtension:
        arguments:
            $projectDir: '%kernel.project_dir%'
    
    # File system service
    Symfony\Component\Filesystem\Filesystem: ~
    
    # Storage adapter factories
    App\Storage\Factory\LocalStorageAdapterFactory:
        arguments:
            $projectDir: '%kernel.project_dir%'
    
    # Storage adapter factories - tagged for injection
    _instanceof:
        App\Storage\Factory\StorageAdapterFactoryInterface:
            tags: ['app.storage_adapter_factory']
    
    # Storage Manager with all factories
    App\Service\StorageManager:
        arguments:
            $factories: !tagged_iterator app.storage_adapter_factory
    
    # Signed URL Service for secure file access
    App\Service\SignedUrlService:
        arguments:
            $secretKey: '%env(APP_SECRET)%'
    
    # Locale Subscriber for i18n
    # Requirements: 1.1, 1.3, 1.4, 5.2
    App\EventSubscriber\LocaleSubscriber:
        arguments:
            $defaultLocale: '%kernel.default_locale%'
            $supportedLocales: '%kernel.enabled_locales%'
    
    # Security Headers Subscriber
    App\EventSubscriber\SecurityHeadersSubscriber:
        arguments:
            $environment: '%kernel.environment%'
    
    # Locale Controller for language switching
    # Requirements: 2.3, 5.1
    App\Controller\LocaleController:
        arguments:
            $supportedLocales: '%kernel.enabled_locales%'
    
    # Locale Twig Extension for locale helpers
    # Requirements: 2.1, 2.2
    App\Twig\LocaleExtension:
        arguments:
            $enabledLocales: '%kernel.enabled_locales%'
            $defaultLocale: '%kernel.default_locale%'
    
    # Formatting Twig Extension for locale-aware date/number formatting
    # Requirements: 8.1, 8.2, 8.3
    App\Twig\FormattingExtension:
        arguments:
            $defaultLocale: '%kernel.default_locale%'
    
    # Scheduler handlers
    App\Scheduler\Handler\CleanupTempFilesHandler:
        arguments:
            $projectDir: '%kernel.project_dir%'
    
    App\Scheduler\Handler\GenerateSitemapHandler:
        arguments:
            $projectDir: '%kernel.project_dir%'
    
    # Workflow services
    Symfony\Component\Workflow\Registry: '@workflow.registry'
    
    # Messenger Worker Service
    App\Service\MessengerWorkerService:
        arguments:
            $projectDir: '%kernel.project_dir%'
    
    # Content Protection - Secure Media Controller
    App\Controller\SecureMediaController:
        arguments:
            $projectDir: '%kernel.project_dir%'
    
    # Video Processing Service with Content Protection
    App\Service\VideoProcessingService:
        arguments:
            $contentProtectionService: '@App\Service\ContentProtectionService'
    
    # Push Notification Service
    App\Service\PushNotificationService:
        arguments:
            $vapidPublicKey: '%env(VAPID_PUBLIC_KEY)%'
            $vapidPrivateKey: '%env(VAPID_PRIVATE_KEY)%'
            $vapidSubject: '%env(VAPID_SUBJECT)%'
    
    # Predis client for Redis
    Predis\Client:
        arguments:
            - 'tcp://127.0.0.1:6379'

    # Redis session handler using Predis
    Symfony\Component\HttpFoundation\Session\Storage\Handler\RedisSessionHandler:
        arguments:
            - '@Predis\Client'

# Импорт конфигурации оптимизации
imports:
    - { resource: services_optimization.yaml }
