{# Partial for HTMX/Infinite Scroll video loading #}
<div data-has-more="{{ has_more ? 'true' : 'false' }}" style="display: none;"></div>

{% for video in videos %}
    {% include 'video/_card.html.twig' with {'video': video} %}
{% endfor %}
